.a-btn {
  --a-btn-fw: 500;

  --a-btn-fs-sm: 0.875rem;
  --a-btn-h-sm: 1.5rem;
  --a-btn-px-sm: 0.625rem;
  --a-btn-bd-radius-sm: 0.3rem;

  --a-btn-fs-md: 0.875rem;
  --a-btn-h-md: 2rem;
  --a-btn-px-md: 1rem;
  --a-btn-bd-radius-md: 0.375rem;

  --a-btn-fs-lg: 1rem;
  --a-btn-h-lg: 2.5rem;
  --a-btn-px-lg: 1.375rem;
  --a-btn-bd-radius-lg: 0.45rem;

  --a-btn-color: #111827d0;
  --a-btn-bg: #ffffff;
  --a-btn-bg-active: rgba(40, 40, 40, 0.07);
  --a-btn-bd-width: 1px;
  --a-btn-bd-style: solid;
  --a-btn-bd-color: #dee3e6;
  --a-btn-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.03),
    0px 2px 2px -1px rgba(0, 0, 0, 0.04), 0px -1px 4px 0px rgba(0, 0, 0, 0.01);

  --a-btn-color-disabled: #11182774;
  --a-btn-bd-color-disabled: #e9ecef;
  --a-btn-bg-disabled: rgba(40, 40, 40, 0.043);
}

.a-btn {
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--a-btn-color);
  font-weight: var(--a-btn-fw);

  height: var(--a-btn-h-md);
  padding-left: var(--a-btn-px-md);
  padding-right: var(--a-btn-px-md);
  border-width: var(--a-btn-bd-width);
  border-style: var(--a-btn-bd-style);
  border-color: var(--a-btn-bd-color);
  border-radius: var(--a-btn-bd-radius-md);
  background-color: var(--a-btn-bg);
  box-shadow: var(--a-btn-shadow);

  transition: transform 0.13s ease-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.a-btn\:sm {
  font-size: var(--a-btn-fs-sm);

  height: var(--a-btn-h-sm);
  padding-left: var(--a-btn-px-sm);
  padding-right: var(--a-btn-px-sm);
  border-radius: var(--a-btn-bd-radius-sm);
}

.a-btn\:md {
  font-size: var(--a-btn-fs-md);

  height: var(--a-btn-h-md);
  padding-left: var(--a-btn-px-md);
  padding-right: var(--a-btn-px-md);
  border-radius: var(--a-btn-bd-radius-md);
}

.a-btn\:lg {
  font-size: var(--a-btn-fs-lg);

  height: var(--a-btn-h-lg);
  padding-left: var(--a-btn-px-lg);
  padding-right: var(--a-btn-px-lg);
  border-radius: var(--a-btn-bd-radius-lg);
}

.a-btn:not(.disabled):not([disabled]):active {
  background-color: var(--a-btn-bg-active);
  transform: scale(0.98);
}

.a-btn:disabled {
  color: var(--a-btn-color-disabled);
  border-color: var(--a-btn-bd-color-disabled);
  background-color: var(--a-btn-bg-disabled);
  cursor: not-allowed;
}

.a-close {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem;
  -webkit-mask-size: 1.5rem;
  mask-size: 1.5rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.a-close::before {
  -webkit-mask-image: url(/icons/close.svg);
  mask-image: url(/icons/close.svg);
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: inherit;
  mask-size: inherit;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #111827d0;
}
